
span{
    background-color: lightgreen;
    padding: 2px;
     font-style: oblique;    
}

.demo{

    background-color: lightblue;
    
}   

a[target]
{
    background-color: yellow;
    color: red;
    font-size: 20px;
}   

#abc{

    
    text-align: center;
    padding: 3px;
   
}
*{
    font-style : italic;
}   