
span{
    background-color: lightgreen;
    padding: 2px;
}

.demo{

    background-color: lightblue;
    padding: 10px;
}   


#abc{

    background-color: lightcoral;
    text-align: center;
   
}
